<% component.texts.each do |text| %>
	<div class= "text_container textarea editable active">
		<%= hidden_field_tag :text_id, text.id, :class => "text_id" %>
		<textarea class="text_content" placeholder="<%= t("write_here") %>"><%= text.content %></textarea>
		<i class="icon-pencil icon-grey"></i>
	</div>
<% end %>
