<% if @num_results == 0 %>
	<div class="no_results"><%= t('no_results')%></div>			
<% end %>

<% @lectures.each do |lecture| %>
	<%= render :partial => "elements/element_fixed", :locals => {:element => lecture, :current_layout => current_layout} %>
<% end %>

<div class="clear"></div>

<div class= "paginate_controls active">
	<%= paginate @lectures %>
</div>
