<div class="footer">
	<div class="wraper_columns">
		<div class="column first" >
			<div class="prompt">

			</div>
			<div class="body">
				<div class="subcolumn">
	
				</div>
				<div class="subcolumn">
					
				</div>
				<div class="subcolumn">
					
				</div>
				<div class="subcolumn">
					
				</div>														
			</div>						
		</div>
		
		<div class="column second">
			<div class="prompt">

			</div>
			<div class="body">
							
			</div>
			
		</div>
		
		
		<div class="column third">
			<div class="prompt">

			</div>
			<div class="body">
				<ul>
						
				<ul>
			</div>
		</div>
		
		<div class="column last">
			<%= image_tag "../images/logo_uvigo.png"%>
		</div>
		
	</div>
	
	<div class="copyright_document">
		Copyright www.uvigo.es 2015
	</div>	
</div>
		