<div id="new_device_square_box">
	<%= render :partial => "technological_settings/tool_square_box" , :locals => {:tool_type => "device", :selected_tool => Device.new} %>
</div>
<div id="new_application_square_box">
	<%= render :partial => "technological_settings/tool_square_box" , :locals => {:tool_type => "application", :selected_tool => Application.new} %>
</div>
