<%= render :partial => "header", :locals => {:section_title => (t :technological_settings), :actions => "list_actions"} %>

<div id="content_index">
	<%= render :partial => "list", :locals => { :current_layout => "application" }%>
</div>	

<script src="/javascript/technological_setting_index.js"></script>