<% content_for :meta do %>
	<%= render :partial => "/generic_partials/meta", :locals => {:element => @document}%>
<% end %>

<% content_for :head do %>
	<%= render :partial => "header/header_document", :locals => {:element_active => 'resources', :current_layout => "application"} %>
<% end %>

<% content_for :content do %>

	<% if current_user != nil%>
		<%= render :partial => "generic_partials/header_show_resource", :locals => {:element => @participant} %>	
	<% end %>

	<div id="content_container" class="book_container">
		<%= render "participant" %>		
	</div> <!-- CONTENT -->
	
	<span style="display:none" id="is_edition" data-value="false"></span>	
	
	
	<script src="/javascript/books_form.js"></script>
<% end %>

