<li>
<%=link_to user_root_path, :class => "back_icon has_tooltip" do %>
	<img src="/images/white_arrow_left.png" title="<%= t('back_to_home') %>"></img>
<% end %>
</li>
<li>
<%=link_to "", :class => "has_tooltip", :onclick => "save_user_form();return false;" do %>
	<img src="/images/white_save.png" title="<%= t('save') %>"></img>
<% end %>
</li>