<% if params[:user_id] == nil 	
    	url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section]
   else     	
    	url = "/documents?page=" + params[:page] + "&repository=" + params[:repository] + "&section=" + params[:section] + "&user_id=" + params[:user_id]
   end
    
   url = URI.encode(url) %> 

<li>
	<%=link_to  url, :class => "back_icon has_tooltip" do %>
		 <img src="/images/white_arrow_left.png" title="<%= t('back_to_home') %>"></img>
	<% end %>
</li>