<li>
	<%= link_to user_root_path,:onclick => 'window.history.back();event.preventDefault();' do %>
		<img src="/images/white_arrow_left.png" title="<%= t('back_to_home') %>"></img>
	<% end %>	
</li>



	
