<header class="z-max" role="top_navigation">
	
	<div class="dropdown uvigo" >
		 <div class="icon_logo_uvigo"></div> </a>
	</div>
	
	<div class="dropdown menu_item dropdown_languages">
		<a href="<%= "http://cnx.org/"%>"> <div class="icon_logo_cnx"></div> </a>
	</div>

	<div class="dropdown menu_item dropdown_languages">
		<a href="<%= "http://www.merlot.org/merlot/index.htm"%>"> <div class="icon_logo_merlot"></div> </a>
	</div>


	<div class="dropdown menu_item dropdown_languages">
		<a href="<%= "https://www.oercommons.org/"%>"> <div class="icon_logo_oercommons"></div> </a>
	</div>

</header>
