<div class= "popup_content">
	<div class="popup_header">
		<div id="section_header" class="activity_header">
			<div id="section_title" class="a-right">
				<p><%= t("activity") %></p>
			</div>		
		</div>		
	</div>
	<div class="popup_body">
		
	</div>
</div>