var details = ("<div id=\"content_container_popup\" class=\"technological_setting_details\"><%=j render :partial => 'technological_setting' %><input type=\"hidden\" id=\"edition_mode\" value=\"off\"/></div>");

